<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper footer-wide">

      <div class="footer-col footer-col-1">
        <h3>Connect</h3>
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/zahidaz">
              <span class="username">GitHub</span>
            </a>
          </li>
          <li>
            <a href="https://vero.co/zahidaz">
              <span class="username">Vero</span>
            </a>
          </li>
          <li>
            <a href="https://unsplash.com/@zahidkhail">
              <span class="username">Unsplash</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/az-zahid/">
              <span class="username">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/@xahidx">
              <span class="username">YouTube @xahidx</span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/@OfTimeAndTerrain">
              <span class="username">YouTube @OfTimeAndTerrain</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h3>Sites</h3>
        <ul class="site-links">
          <li>
            <a href="{{ "/" | relative_url }}">
              <span class="username">Blog</span>
            </a>
          </li>
          <li>
            <a href="https://azzahid.com">
              <span class="username">Portfolio</span>
            </a>
          </li>
          <li>
            <a href="https://blog.syselement.com">
              <span class="username">SysElement Blog</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h3>{{ site.title | escape }}</h3>
        <p>{{ site.description | escape }}</p>
      </div>

    </div>
  </div>
</footer>